/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&family=Playfair+Display:ital,wght@0,900;1,900&display=swap');
/*=============== TAILWIND CSS ===============*/
@import "tailwindcss";
/*=============== REMIXICON ===============*/
@import 'remixicon/fonts/remixicon.css';


@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-logo:"Playfair Display", serif;
  --font-hero: "Playfair Display", serif;
}

html {
  color: #0f172b;
  background-color: #fff;
}

html.dark {
  color: #f1f5f9;
  background-color: #020618;
}