/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:wght@400..900&display=swap');

/*=============== TAILWIND CSS ===============*/
@import "tailwindcss";

/*=============== REMIXICON ===============*/
@import 'remixicon/fonts/remixicon.css';


@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-playfair: "Playfair Display", serif;
}

@layer {
  html {
    color: #0f172b;
    background-color: #fff;
    font-family: "Nunito", sans-serif;
  }

  html.dark {
    color: #f1f5f9;
    background-color: #020618;
  }
}

.input-box {
  @apply w-full flex justify-between gap-3 text-sm text-slate-900 bg-slate-50 rounded px-4 py-3 mb-4 mt-3 border border-slate-200 outline-none dark:bg-slate-900 dark:text-slate-100;
}

.btn {
  @apply px-6 py-3 text-sm rounded-xl font-semibold cursor-pointer
}

.section-title {
  @apply text-2xl md:text-4xl font-bold mb-4 font-playfair
}

.btn-disabled:disabled {
  @apply pointer-events-none bg-rose-600/10
}