/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playfair+Display:wght@400..900&display=swap');

/*=============== TAILWIND CSS ===============*/
@import "tailwindcss";

/*=============== REMIXICON ===============*/
@import 'remixicon/fonts/remixicon.css';


/*=============== CUSTOM THEME ===============*/
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-playfair: "Playfair Display", serif;
}

/*=============== BASE STYLES ===============*/
@layer base {
  html {
    color: #0f172b;
    background-color: #fff;
    font-family: "Nunito", sans-serif;
  }

  html.dark {
    color: #f1f5f9;
    background-color: #020618;
  }
}

/*=============== COMPONENT STYLES ===============*/
@layer components {
  .section-title {
    @apply text-2xl md:text-4xl font-bold mb-4 font-playfair;
  }

  .card {
    @apply bg-slate-50 dark:bg-slate-900 px-2 py-4 rounded border border-slate-200 dark:border-slate-800;
  }

  .pagination-btn {
    @apply text-rose-600 text-2xl font-semibold
  }
}